@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-size: 105%; */
}
#landing{
    padding: 2rem;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container{

    padding: 80px 0;
}
a{
    color: black;
}
 nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

 }
 .signup__btn{
    padding: 12px 32px;
    background-color: #6415ff;
    border-radius: 999px;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 14px;
    margin: 9px 0px;

 }

 .email__1{
    padding: 22px 0;
    padding-left: 32px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid #e5e7eb;
    font-size: 16px;
    font-weight: 500;
 }
 .logo__img{
    width: 80px;
    padding-right: 16px;
 }

 ul{
    display: flex;
    padding-left: 45px;
 }
li{
    list-style-type: none;
    margin:16px;
    
}
.logo__desc{
    margin: 45px;
    font-size: 2.5rem;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    position: absolute;
    right: 0;
    margin: 8px 8px 8px 0;
    padding: 14px 0;
    width: 160px;
    border-radius: 9999px;
    border: none;
    background-color: #6415ff;
    font-size: 16px;
    color: #f7fafc;
    font-weight: bold;
    box-sizing: content-box;
    line-height: 1.5;
}
.btn--generic {
    padding: 12px 32px;
    background-color: #6415ff;
    border-radius: 9999px;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 14px;
}

/* HEADER */

header{
    display: flex;
    /* padding: 48px; */
    justify-content: center;
    align-items: center;
}
.row__2{
    display: flex;
    padding: 7% 1%; 
}
.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;       
}
.right{
    width: 60%;
}

.img__2{
    max-width: 100%;
    height: auto;
}
h2{
    font-size: 45px;

}


.purple{
    --tw-text-opacity: 1;
    color:rgba(100,21,255,var(--tw-text-opacity)) ;
}
p{
    padding: 24px 0;
}

.input__1{
    position: relative;
    max-width: 448px;
    display: flex;
    align-items: center;
}


h3{
    padding: 24px 0;    
    font-weight: 700;
    
}
.cust{
    --tw-text-opacity: 1;
    color: rgba(160,174,192,var(--tw-text-opacity));
}
.img__1{
    width: 100%;
}



/* FEATURES */


.spacing{
    margin-top: 2.5rem;
    width: 100%;
}
.secure{
    display: flex;
    flex-wrap: wrap;
}
.service{
    display: flex;
    width: calc(100%/3);
}
.text__container{
    display: flex;
    flex-direction: column;
}

.feature__descprition,.text__feature{
    text-align: center;
    width: 100%;
    text-align: center;
}
.text__feature{
    flex-wrap: wrap;
}

.image__container{
    border-width: 1px;
    text-align: center;
    border-radius: 9999%;
    padding: 1.25rem;
    flex-shrink: 0;
}
.title__container{
    margin-top: 1rem;
    letter-spacing: 0.025em;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
}
.service__para{
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    line-height: 2;
}


/* DESIGNED AND DEVELOPED 
 */


 .design__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding:24px ;
 }
 .design__image{
    width: 50%;
 }
 .des__image{
    max-width: 100%;
    height: auto;
 }
.design__and__development{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.h3__title{
   padding: auto;
}
.btn__design{
    font-size: 14px;
    /* margin-top: 32px; 
    margin-left: auto; */
    margin-right: 410px;
    border-radius: 9999px;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    /* padding:12px,36px; */
    font-weight: 700;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
}


/* 

STEPS

*/
#Steps .row{
    display: flex;
    justify-content: space-between;
}

.steps__img--wrapper{
    max-width: 576px;
    width: 100%;
}
.steps__description{
    max-width: 576px;
    width: 100%;
    margin-left: 64px;
    margin-right: 0;
}
.step{
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
}
.step__number--wrapper{
    display: flex;
    flex-direction: column;
}
.step__number{
    color: #Cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
}
.step__description{
    margin-left: 24px;
}
.step__title{
    color: #243e63;
    font-size: 20px;
    font-weight: 600;
}
.step__sub--title{
    margin-top: 0px;
    font-size: 14px;
    color: #718096;
    font-weight: 500;
    line-height: 2;
    max-width: 320px;
}
.step__list--header{
    padding-bottom: 12px;
}
.purple{
   font-weight: 700;
}

/*

VALUES

 */

 .values__description{
    display: flex;
    
 }

 .values__figure{
    border: none;
    width:50%;
     
 }

 .values__para{
    margin-bottom: 0;
    color: #718096;
    
 }
 .values__btn{
    margin-top: 48px;
 }
 .values__showcase{
    max-width: 576px;
    display: flex;
 }

 .value{
    display: flex;
    flex-direction: column;
    margin: 32px,32px,0,0;
 }
 .value__top{
    display: flex;
    align-items: center;
 }
 .value__label{
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(36, 62, 99);
 }

 .value__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #9ae6b4;
    border-radius: 100%;
    overflow: hidden;
}
.values__img{
    width: auto;
    max-height: 450px;
}

.value__bottom{
    margin-top: 16px;
    font-weight: normal;
    color: rgb(113, 128, 150);
    line-height: 1.625;
}

/*

PRICING 

*/

.pricing__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}
.pricing__title{
    padding: 24px;
    font-size: 20px;
}
.pricing__subtitle{
    font-size: 60px;
}
.price__para{
    margin-bottom: 0;
}

.plans__container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    overflow-x: hidden;
}

.plan{
    width: calc(100%/3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-right: 32px;
    flex-basis: 0;
    margin-bottom: 10px;

}
.plan__card{
    width: 100%;
    padding: 8px 32px 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
    position: relative;
}

.plan__style{
    height:8px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
.plan__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:32px 0px;
}

.plan__name{
    font-weight: 700;
    font-size: 20px;
    color: #1a202c;
    text-align: center;
    margin: 0 auto;
}

.plan__price{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #1a202c;
    margin: 4px auto;

}

.plan__duration{
    font-size: 16px;
    font-weight: 700;
    color: #a0ace0;
}
.plan__features{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    max-width: 382px;
    margin: 0 -32px;
    box-sizing: content-box;
}
.plan__feature--main{
    font-size: 20px;
    color: #1a202c;
    font-weight: 700;
    letter-spacing: 00.025em;
}

.plan__feature{
    margin-top: 20px;
    font-size: 16px;
    color: #718096;
    font-weight:500;
    text-align: center;
}
.plan__action{
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan__action--btn{
    padding: 16px 32px;
    border-radius: 9999px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__card{
    max-width: 382px;
    align-items: center;
}

.plan__border{
    border-top: 2px solid #e5e7eb;
    height: 0.01px;
    margin: 0 -32px;
    width: 800px;
}

.plan__feature--main, .plan__action{
    max-width: 320px;
}
.plan__header, .plan__features, .plan__action{
    width: 100%;
}
.plan__card--2,.plan__style--2{
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%); 
    color: white;
}
.plan__action--btn2{
   color: blue;
   background: white;
}

.plan__action--btn3, .plan__style--3{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.plan__name--2,.plan__price--2, .plan__duration--2,.plan__feature--2,.plan__feature--main2{
    color: white;
}

/*

FOOTER 

*/

footer{
    width: 100%;
    max-height: auto;
    background-color: #6415ff;
    padding: 96px 32px; 
}

footer .row{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.footer__column--links{
    margin-top: 24px;
}
.footer__column--link{
    display: block;
    margin-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.footer__column--heading{
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.footer__columns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px ;
}

.footer__border{
    border-top: 2px solid #e5e7eb;
    padding: 0;
    height: 32px;
    margin: 0px;
    width: 1200px;
    
}
.footer__socials--logo{
    display: flex;
    align-items: center;
}

.footer__social--imglogo{
    width: 50px;
    background-color: white;
}
.footer__social--img{
    width: 32px;
    height:32px;
}

.footer__socials--logo h3{
    font-size: 20px;
    color: #f7fafc;
    margin-left: 8px;
    font-weight: 900;
}
.footer__design{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__socials{
    display: flex;
    justify-content: space-between;
    
}

.footer__copyright{
    color: #cbd5e0;
    font-size: 16px;
    font-weight: 500;
    padding: 100px;
    margin: 0 200px;
}
.footer__social--list{
    display: flex;
    justify-content: end;
    align-items: center;
}